[2018-08-01 10:18] yochannah opened #7 "mine filters - refactor to use pathquery"
We would like to create a webservice to allow mine admins to explicitly state which filters will be available in the tool for their mine. Right now our filters are [hard-coded](https://github.com/AdrianBZG/InterMine-Data-Browser-Tool/blob/master/public/mine_configs/mines_filters.json) to certain functions. This won't scale well for other InterMines - instead, we should consider something like this

[2018-08-01 10:48] yochannah opened #8 "Class filters along top - allow additional filters"
Right now we have Gene and Protein across the top of the tool. Theoretically we might wish to browse classes other than Gene and Protein.

This will need to be done defensively similar to the left-side filters - i.e. check the model and don't add filters for classes that don't exist. In this case it should be slightly easier, though as all classes will be root-level entities in the model.

So, sug

[2018-08-01 11:15] yochannah opened #9 "Add "current class" filters to left filter bar"
For now this would simply be adding Gene and Protein filters (dependent on the active tab) to left - probably these will work ok all mines!

- This will mean we can allow [IN <LISTNAME> queries](http://intermine.readthedocs.io/en/latest/api/pathquery/#list-constraints) if user is [authenticated](https://github.com/AdrianBZG/InterMine-Data-Browser-Tool/issues/69)
- Also allow [LOOKUP query](http://

[2018-08-01 12:20] yochannah opened #10 "Show column summaries automatically above the im-table"
Right now we have a single visualisation, the pie chart. Gos pointed out that we actually already have quite a few nice charts present in im-tables - the column summaries. Not all summaries are innately interesting, so I don't think we want to show each column summary.

This needs to be generic and work for tables that are neither gene nor protein.

### Boring graphs:

example:, the Gene page has

[2018-08-01 14:20] yochannah commented on #7
We also need to consider whether different classes need different filters configured. I think they probably do.

[2018-08-02 06:56] AdrianBZG commented on #10
@yochannah Note: the charts in the im-table's column summaries only appear (in the HTML, and with overlapping classes) once at a time, when the summary is clicked

[2018-08-02 06:58] AdrianBZG commented on #10
@yochannah Also, in the text above you mention that organism in a pie chart would be interesting, but we already have that, right?

[2018-08-02 09:46] AdrianBZG commented on #10
@yochannah Yes, probably the way to go is to implement another chart and feed it with the Gene.length column summary. We probably don't want the fake click approach (that will show the summary window for a few milliseconds to the user and it's weird).

[2018-08-24 09:00] yochannah commented on #9
We don't want to remove the buttons on the top. Maybe consider the buttons on the top the view, and the buttons on the left the filters?

[2018-08-24 09:11] AdrianBZG commented on #9
@yochannah So if I understand correctly, the idea is to add a new filter that, depending on current view, works e.g. like this:

- If I'm in Proteins view, the user can specify a list in a textbox, and by filtering, the constraint applied is:

{
  select: ["Protein.*"],
  where: [["genes", "IN", "list from the textbox"]]
}

- If in Genes view, it will be:

{
  select: ["Gene.*"],
  where: [["genes

[2018-08-24 09:43] yochannah commented on #9
that's exactly it!

We'd also want the user to be able to type a single identifier and run a LOOKUP query, e.g. type "adh" and show the single gene adh in the view, or type "adh, fkh, bsk" and show all three in the view.

I'm not sure if that should be one input or two - whatever's less confusing. A single smart box with typeahead might be nice?

[2018-08-24 18:16] AdrianBZG commented on #8
@yochannah Is there a way to get the classes like your example (https://gist.github.com/yochannah/a4f9c6a8a502d3daaf418c7d8ec51be7#file-humanminemodel-json-L1361) from the HumanMine API? I've tried parsing the XML from http://www.humanmine.org/humanmine/service/model without luck

[2018-08-24 18:27] AdrianBZG commented on #7
@yochannah @julie-sullivan I was thinking about an idea:

What if on the example JSON with the pathquery for each filter, we use the ""from": "Gene"," keys (from keys) to create dinamically the views buttons on the top, allowing the person configuring the service to add or remove classes just by creating an specific filter for such class. So it will work like this:

- By default, the same thing, w

[2018-08-28 08:58] yochannah commented on #8
yup! http://www.humanmine.org/humanmine/service/model?format=json

http://iodocs.apps.intermine.org/ can be handy to find out API things like this :)

[2018-08-28 09:11] yochannah commented on #7
@AdrianBZG I *think* this sounds good (dynamically configured from json sounds about right lol) but I'm not entirely sure I understand. could you elaborate or provide another example? (sorry!)

[2018-08-29 11:16] AdrianBZG commented on #7
@yochannah Let's take for instance the example json you provided for HumanMine (https://gist.github.com/AdrianBZG/124b7ec72ad762ffd11315f63cb9cbe2), the tool, when reading this json, should take care of, after the 4 default filters (Organism short name, Pathway Name, GO Annotation, Dataset Name), adding the following ones in the Gene view, since according to the json there are custom filters on Ge

[2018-09-11 10:06] yochannah opened #12 "CSS for some ANDable filters is a little odd"
See screenshot: words are overflowing the text box:
![image](https://user-images.githubusercontent.com/9271438/45353376-909fd480-b5b2-11e8-9d91-6fb3237afe6e.png)

present in FF and Chrome

[2018-09-11 10:25] yochannah opened #13 "API modal - close button is too close to the save button."
![image](https://user-images.githubusercontent.com/9271438/45354346-36ecd980-b5b5-11e8-9633-f2f35b4e44bd.png)

Could we move close over to the left of the modal so it doesn't get clicked accidentally and/or as an x at the top right of the modal? 🦄

[2018-09-11 10:29] AdrianBZG commented on #12
@yochannah Thanks for spotting that one, looks like I had some bad CSS there, you can check now: http://im-browser-prototype.herokuapp.com/

[2018-09-11 10:30] yochannah opened #14 "inform user of a bad api key"
If I paste a bad API key into the API key modal, the save as list button disappears from the imtable, which is great. Is the API key used (yet) in any other place in the app?

What might be even better is if we tell the user the API key isn't any good. e.g. something like

[2018-09-11 10:31] AdrianBZG commented on #14
@yochannah Is there a REST point to given a API key, check if its valid? Maybe I could use that to check it when the user clicks "Save" to prevent to use a invalid one.

[2018-09-11 10:39] AdrianBZG commented on #13
@yochannah Should be good now 👍

[2018-09-11 10:40] yochannah commented on #14
www.flymine.org/query/service/user/whoami?token=sometoken should either give you details about the user or tell you it's a bad key.

[2018-09-11 10:46] yochannah commented on #13
so fast! 💨

[2018-09-11 10:46] #13 closed

[2018-09-11 10:52] yochannah commented on #12
fixed!

[2018-09-11 10:52] #12 closed

[2018-09-11 11:41] yochannah commented on #10
@AdrianBZG this is a great start!!

Some notes:

- The colours of the bars in the bar chart imply correlation between the pie and the bar char (i.e. the pie chart has a nice warm yellow for h. sapiens - one might think that implied the yellow in the bar chart was also homo sapiens). I'd suggest making the chart have only a single colour of bars - perhaps the same blue colour as the selected protei

[2018-09-11 12:19] AdrianBZG commented on #10
@yochannah I'm not sure if we use another data for the bar chart. What I mean is, currently the data used there is the one given by the Gene length summary, which is divided in groups/buckets, just as the column summary graph from im-table (it's a hand-made replication of that one).

![image](https://user-images.githubusercontent.com/8275330/45359459-eda88400-b5cc-11e8-8202-5dad79f8960a.png)

This

[2018-09-11 17:35] AdrianBZG commented on #10
@yochannah I've addressed all points except the one related to the data (explained in previous comment), can you please take a look when you have some time?:

http://im-browser-prototype.herokuapp.com/

[2018-09-11 22:03] AdrianBZG commented on #8
@yochannah The first point is done: "Show any classes tagged preferredBagType (see example) along the top bar (as we currently do with gene and protein)". Going to tackle the second one this week.

[2018-09-12 15:37] yochannah commented on #10
This took some digging to figure out, but im-tables calculates the bucket start and end values client-side.

- We know how many buckets there are
- We know the start and end coordinates of the entire thing (the min and max value),
- [each bucket is equal width](https://github.com/intermine/im-tables/blob/9b06e2892b36226f4ecb5d7dce7cfc9422d087ac/src/views/facets/numeric.coffee#L93).

so if the rang

[2018-09-12 15:39] yochannah commented on #10
![image](https://user-images.githubusercontent.com/9271438/45436288-5ca7da80-b6aa-11e8-96de-f850054c405e.png)

[2018-09-16 12:47] AdrianBZG commented on #10
@yochannah Looks better now, the bars have some height even if value is 1, also its using logarithmic scale so all the bars are shown, independently of the first ones having huge values and the others tiny values. Also labels are now properly calculated and displayed.

Can you please take a look? 👍

http://im-browser-prototype.herokuapp.com/

![image](https://user-images.githubusercontent.com/8275

[2018-09-20 10:31] yochannah commented on #10
@AdrianBZG This looks great! How are you implementing the log scale?

[2018-09-20 10:36] AdrianBZG commented on #10
@yochannah What I'm doing is taking the log2 of the count, plus 1 (https://github.com/AdrianBZG/InterMine-Data-Browser-Tool/blob/master/src/js/common.js#L1235). This value is only used for the height of the bars, but the shown labels are the original counts, so the user doesn't get confused.

This avoids two things:

1) By using the log, even if the first 2-3 bars have a very huge count, and the r

[2018-09-20 10:50] yochannah commented on #14
Nice one! Tested ok.

[2018-09-20 10:50] #14 closed

[2018-09-20 13:56] yochannah commented on #10
@AdrianBZG I think that sounds good! @rachellyne what do you think?

1. Nice! I suspect in some scenarios where the data are more sparse, we might want to have the option to switch the log view off and go back to the normal view. Would that be tricky to add? It would alsobe nice to tell people a little bit about how the buckets are calculated and displayed - maybe just an i in a circle-type info i

[2018-10-18 23:32] #9 closed

[2018-11-12 01:35] AdrianBZG commented on #10
I can't add buttons or links to Chart.js graphs text, so I would need to add that below the graph, and that is not going to look very good :/

[2018-11-12 01:53] AdrianBZG commented on #8
Working!

[2018-11-12 01:53] #8 closed

[2018-11-12 01:55] #10 closed

[2018-11-19 02:16] #7 closed

[2019-01-18 10:34] yochannah opened #16 "Usability: add textual description to the API key and "Change views" buttons"
Very few icons have automatically clear meaning to users, so it is usually best to add a text description as well as the icon itself. You can read more about icon usability on the neilsen norman group blog: https://www.nngroup.com/articles/icon-usability/

![image](https://user-images.githubusercontent.com/9271438/51381525-46080900-1b0c-11e9-95fb-ac6328fd9bcb.png)

[2019-01-18 10:36] yochannah opened #17 "Graphs for custom views"
If I add a pathway view along the top, the graph displayer box is present but empty.

![image](https://user-images.githubusercontent.com/9271438/51381725-d5152100-1b0c-11e9-93c7-9814506ce8a2.png)

[2019-01-18 10:56] yochannah opened #18 "Usability - make it clearer how you select a specific gene or list"
It's not entirely obvious to a new user how to filter by single gene (or other entity) or gene lists. From Gos:

list, nor search for specific gene etc.

I'll admit it took me a few seconds to figure it out as well. Any ideas on how we could make it more obvious?

[2019-01-18 11:02] AdrianBZG commented on #17
@yochannah There's definitely something wrong, as one of the JSON files is missing (new filters config, currently I only see the old one), let me figure out where it has gone on holidays :/

[2019-01-18 11:06] yochannah opened #19 "Red/Green buttons in filters - change colours"
Can we change the red/green colour pairing to something a little less bright and noticable? I think it's okay to leave the "go" button bright - it's the item we want to call attention to - but probably the reset should be muted, perhaps a grey of some sort.

![image](https://user-images.githubusercontent.com/9271438/51382939-fcb9b880-1b0f-11e9-803f-9a7fe67b7bca.png)

As a side note, [red/green is

[2019-01-18 11:19] AdrianBZG commented on #18
@yochannah What about a new button to display the user's personal list (in case it has added a key for current mine)?

For how to search by single entity or list, maybe it's a good idea to add a "How To" button, that explains some use cases like this one?

[2019-01-18 11:22] AdrianBZG commented on #16
@yochannah Do you mean like adding a tooltip, e.g.:

![image](https://user-images.githubusercontent.com/8275330/51384131-abafc180-1b1b-11e9-8ed2-dd03fb500b2c.png)

?

(Is it showing for you?)

[2019-01-18 11:30] yochannah commented on #18
sounds like it's worth a shot! This way users won't have to guess list
names so it would be much easier to use - nice!

On Fri, 18 Jan 2019 at 11:29, Adrián Bazaga <notifications@github.com>
wrote:

[2019-01-18 11:31] AdrianBZG commented on #17
@yochannah Added the config and made a pull request. About the empty box:

In the case of Pathway, it doesn't have an Organism facet right below it, as Gene or Protein do, and this is needed for the left plot. What about checking if facet for one graphic exists before showing it, and only show those graphics that are available for that view. In case of 0, show a "No available graphics for this vie

[2019-01-18 11:33] yochannah commented on #17
sounds good! Let's also shrink the box so it doesn't take up a bunch of vertical space in this case.

[2019-01-18 11:34] AdrianBZG commented on #17
Sure :+1:

[2019-01-18 11:34] AdrianBZG commented on #16
Yes, that sounds better!

[2019-01-18 11:44] AdrianBZG commented on #16
@yochannah Added :smile:

[2019-01-18 11:51] yochannah commented on #16
![image](https://user-images.githubusercontent.com/9271438/51385432-304c1100-1b17-11e9-80ff-c5a0230fd08d.png)
 could we add a space between the icons and the the text? We might also want to differentiate between active views and the two toolbar icons on the right...

[2019-01-18 13:58] AdrianBZG opened #21 "Phenotypes (HPO/MPO) filter"
It would be interesting to add a new sidebar filter, to filter by phenotypes. This would be very interesting to be able to analyze only those genes/proteins where the human had some specific characteristics, such as nocturia or abnormality of body height.

The idea is to have an autocomplete input box, in the same line as, for instance, the pathways filter, making it easier for the user to search

[2019-01-18 13:59] AdrianBZG opened #22 "Chromosome search - some sort of loader?"
Originally from @yochannah :

"When I run a chromosome search, it takes several seconds before the im-tables loader bar appears, during which time I find myself wondering if I actually pressed the Go! button at all. Is there a way to make the im-tables loading bar load earlier, or some other way to indicate to the user that the browser is thinking?"

[2019-01-18 14:34] yochannah opened #23 "Add views: shouldn't be possible to add non-existent views"
It looks like any free text is allowed in the add view dialogue :)

![image](https://user-images.githubusercontent.com/9271438/51392855-1cf87000-1b2e-11e9-8835-0ade06c5a5b2.png)

[2019-01-18 14:39] AdrianBZG commented on #23
Yep, will add a check!

[2019-01-18 14:41] AdrianBZG commented on #23
Possible approach: fetch the current mine model and get the list of facets in an array. This needs to be done at the time the mine is loading and stored globally. Then, when the user adds a new view in the view manager, the text should coincide with one of the facets in the array, otherwise display warning.

[2019-01-18 14:43] yochannah commented on #23
Do you think we could type-ahead, or allow selection from a list (remember,
it's aimed at naive usrs who many not know what columns to select)

On Fri, 18 Jan 2019 at 14:41, Adrián Bazaga <notifications@github.com>
wrote:

[2019-01-18 14:44] AdrianBZG commented on #23
@yochannah Yes, that would be better!

[2019-01-19 14:33] Zemotacqy commented on #22
Hi @AdrianBZG I think I can solve this issue. Please assign this issue to me

[2019-01-21 11:32] yochannah commented on #19
Thanks for fixing this @hollloh! <3 <3 It's deployed live on http://data-browser.apps.intermine.org/

[2019-01-21 11:32] #19 closed

[2019-01-21 11:34] AdrianBZG commented on #22
Hi @Zemotacqy , let me illustrate a bit what the issue is about, just to make sure we are on the same line :smile:. When a user uses one of the filters (right sidebars) that entails a lot of constraints the im-table, it takes some time to load, going from milliseconds to seconds depending on the amount of constraint already existing in the im-table.

The problem is that there is no message or load

[2019-01-22 19:40] LakshSingla commented on #21
@AdrianBZG I would like to take this issue up. Unfortunately, I am unable to get familiarized with the terms pertaining to Biology, causing confusion at times due to lack of logical structure of what is happening :disappointed: . Is there any concise text I can refer to so that I am able to understand the terminologies (an overview) ? Alternatively, you can give me a list of keywords (required to

[2019-01-23 12:15] Zemotacqy opened #25 ""Location" Filter shows error"
Whenever I select the Location filter and enter the following details:
Chromosome: 12
Start: 1 End: 1000
And when I press the GO button. I get the following error in the console:

error at common.min.js file

[2019-01-23 12:20] AdrianBZG commented on #25
@Zemotacqy Good point!

This happens because with that filter parameters, there are 0 results.

If you try for instance, Chromosome 12, Start 1 End 100000. Then you get results and no problem appears.

Maybe adding a warning message when that error happens, saying that there are no results, and resetting the constraint, would be helpful.

[2019-01-23 12:32] Zemotacqy commented on #25
Ok @AdrianBZG . From where can I get the set of permissible values in the filter.

[2019-01-23 13:53] AdrianBZG commented on #25
@Zemotacqy To do that for the case of the Location filter, you would need to query for all the available Start-End ranges and check which ones have values. This is very expensive and it's not desired.

I think that it's better if, since the im-table already shows a message when no values are available, to take the part where the min function is being used, and wrap it in an 'if' that checks whethe

[2019-01-25 16:35] AdrianBZG opened #27 "Top-right button to show lists and filter by them"
It is interesting to add a button on the top-right of the browser, just beside the "Add view" and "Add API key" ones, where a user can click and get the list of the lists it has stored in it's account.

This should check that the user has actually added a valid API key for the current mine in the "Add API key" section. This is stored as a LocalStorage object, so it should be easy to check if the k

[2019-01-25 16:39] AdrianBZG opened #28 "Add select to the Views manager for adding a new view"
Currently, in order to add a new custom view to the browser, it needs to write it in the corresponding input field in the Views manager:

![image](https://user-images.githubusercontent.com/8275330/51759125-cbb92500-20c7-11e9-9145-ae8016f76e69.png)

This leads to a problem, which is that the user may write a view (class/facet) that actually doesn't exist in the current mine. On this extent, the ide

[2019-01-25 21:03] suryatejreddy commented on #28
Hey, I would like to work on this issue. I understood the problem. I am currently going through the code.

[2019-01-25 21:09] AdrianBZG commented on #28
Hi @suryatejreddy ,

If you take a look at https://github.com/intermine/InterMine-Data-Browser-Tool/blob/master/src/js/main-view.js#L155, you can see that using the model?format=json path from the mine API, I get the classes with the tag im:preferredBagType to build the default view buttons.

The idea is to use this route to get all the classes, not only the im:preferredBagType ones, and use that

[2019-01-28 13:35] yochannah commented on #21
@LakshSingla here's an example of imjs queries - does it help at all?

https://jsbin.com/vacefe/edit?html,console - I'd also suggest looking at our query builder tutorial: https://flymine.readthedocs.io/en/latest/query-builder/Documentationquerybuilder.html and using the generate code feature of intermine to build a query -

![image](https://user-images.githubusercontent.com/9271438/51839568-78321

[2019-01-28 18:53] LakshSingla commented on #21
@yochannah Thanks for the help :smile: Things are much clearer to me now

[2019-01-29 22:10] LakshSingla commented on #21
@AdrianBZG One more query :sweat_smile: I checked `request-handler.js` which requests data from the local server but doesnot do anything about it. Can you please help me know where is the incoming query processed (when the webpage is first loaded).

[2019-01-30 18:12] LakshSingla commented on #21
I started working on creating the backend endpoint for HPOTerm but the following error is arising
![screenshot from 2019-01-30 04-06-41](https://user-images.githubusercontent.com/30999375/51945393-a8ce9e00-2444-11e9-8b07-03a398a4eb3d.png)

I think I may have queried the XML wrongly but it doesn't seem so from the XML generated in HumanMine's query builder. Can you please point out what maybe the e

[2019-01-30 19:41] LakshSingla commented on #21
@AdrianBZG I have added a PR for the issue and most of the work is done except adding the constraint to the table, which does not seem to be working under the name "phenotypeName" or "HPOTerm". I am unable to find the docs of `im-table`. Can you please help me out with this issue ...
Further more, we need a thumbicon (as with other filters) to display to the left. I am currently using pathways ico

[2019-02-04 20:48] AdrianBZG commented on #28
Closed :+1:

[2019-02-04 20:48] #28 closed

[2019-02-04 20:58] AdrianBZG commented on #21
Hi @LakshSingla , indeed, the hpoTerm.name attribute is found when you go to Gene > Diseases in the Query Builder, here is an example JS code that display the Gene summary together with the associated hpoTerm.name:

[code]

Hope it helps.

[2019-02-05 12:46] LakshSingla commented on #21
@AdrianBZG Moved the discussion to the PR itself :smiley: Thanks for the help.

[2019-02-08 18:22] AdrianBZG commented on #21
Closed

[2019-02-08 18:22] #21 closed

[2019-02-08 18:29] AdrianBZG commented on #16
Done!

[2019-02-08 18:29] #16 closed

[2019-02-08 18:30] AdrianBZG commented on #23
Already done by adding a select #28

[2019-02-08 18:30] #23 closed

[2019-02-08 21:45] LakshSingla commented on #27
@AdrianBZG I would like to work on this issue :) Lemme read up the Docs about API keys and get back to you.

[2019-02-09 13:09] AdrianBZG commented on #27
@LakshSingla This is going to be useful: https://intermine.readthedocs.io/en/1.8.5/web-services/how-do-i/

Specifically, look at this block of code to get the personal user lists:

`var util      = require('util');
var intermine = require('imjs');

var flymine = new intermine.Service({
  root: 'www.flymine.org/query',
  token: null // supply a token to see your own lists.
});

flymine.fetchLists()

[2019-02-09 14:21] LakshSingla commented on #27
This may seem like a stupid question, but where do I get my API Key after logging in (I logged in via Google Account). I am unable to find it :sweat_smile:

[2019-02-09 14:27] AdrianBZG commented on #27
@LakshSingla After logging in e.g. HumanMine, go to http://www.humanmine.org/humanmine/mymine.do?subtab=account, then press "Generate a new API key" at the bottom of the page, and the key will appear 😄

[2019-02-09 18:04] LakshSingla commented on #27
So I began working on it. I have created a back end route which queries it and integrated it with the front end (currently I am logging it only). I have a few questions :
 - Does the local storage obect `api-keys` have only apiKeys and nulls or should I put extra guards to check if it is a valid key ? (I saw in the codebase that you already have placed some checks while storing the key in the code

[2019-02-09 19:12] AdrianBZG commented on #27
@LakshSingla The API keys in the JSON object should already be valid, as the code is doing a check. We should show the 147 lists for the moment, so let's make that window horizontally scrollable.

To constraint with a list is just the "IN" operator. Here is an example to constraint the table with the list "PL_GenomicsEngland_GenePanel:Genetic_Epilepsy_Syndromes":

[code]

You can see more examples

[2019-02-10 16:46] LakshSingla commented on #27
@AdrianBZG Are the names of the list unique, i.e. can I use them as an identifier? I would need to save the lists applied in an array, so that I can highlight the corresponding element in the modal later. From the  query which you mentioned above, it seems as if the name of the list is its unique identifier. Also, is it necessary to send one's api key with the above query ?? (so that one can fetch

[2019-02-10 17:05] AdrianBZG commented on #27
@LakshSingla Yes, they are unique. So we want both public lists and private lists. This means that if the user hasnt specified a key, it will only see public lists. If it has, then it will see public and private ones.

[2019-02-10 17:09] LakshSingla commented on #27
- I wanted to ask how would intermine distinguish between me and any other person, if we both have saved a list with same name.
 - Also, is it possible for me to have more than 1 list as a constraint, or only 1 list at a time ?

I am uploading the screenshot of UI I have designed so far. Also, I am thinking of adding a filter box so as to traverse lists quickly by their name :smile: Suggestions an

[2019-02-10 22:36] AdrianBZG commented on #27
@LakshSingla So for personal lists there is no problem of same names as other user, because they are personal, so you're only able to see your lists, or the lists of one specified API key.

To have more than one list in the constraint, please refer to my answer in your PR :smile:

Exactly, the path could be Gene, Protein or X, where X is any view chosen by the user. So the "from" parameter of the

[2019-02-14 16:26] #27 closed

[2019-02-14 19:30] LakshSingla commented on #18
@AdrianBZG @yochannah Is this issue addressed by my recent PR #31. Or something else needs to done ? :thinking:

[2019-02-14 19:37] LakshSingla opened #32 "Support selection from multiple lists"
Currently the user can specify only one list from which he or she can view Genes/Proteins etc. The aim of this issue is to enable a user to select from more than one list at a time (much like using "ONE OF" operator).
Here are the caveats:
 - The `imjs` query interface supports adding only one of the list at a time.
 - Selection from multiple lists can be supported using custom `constraintLogic` (

[2019-02-15 10:44] AdrianBZG commented on #18
@LakshSingla Yes, looks like it is! :trophy:

[2019-02-15 10:44] #18 closed

[2019-03-06 16:49] VarunBhandia commented on #22
@AdrianBZG I want to contribute. Should I implement a percentage loader to improve UX?

[2019-03-13 14:38] AdrianBZG opened #33 "CORS problems"
CORS error when changing to TargetMine:

![image](https://user-images.githubusercontent.com/8275330/54287471-9c8a4480-459d-11e9-9dce-4bea6bd4b13b.png)

[2019-03-13 14:47] AdrianBZG opened #34 "Move to HumanMine if the current selected mine has errors"
Sometimes the user get stuck in a mine that is giving errors, without the possibility  to continue using the browser. To avoid this, notify that there is a problem and move to HumanMine

[2019-03-13 14:50] yochannah opened #35 "mine dropdown - clicking on the arrow doesn't work"
Clicking on the arrow on the left of the dropdown doesn't do anything on FF or Chrome - you have to click on the word "humanmine" to get a response

![image](https://user-images.githubusercontent.com/9271438/54288376-461e0580-459f-11e9-83d7-da38d16a2c03.png)

[2019-03-13 14:50] AdrianBZG commented on #33
Currently we avoid showing HTTPS mines in the mine dropdown, but maybe we can do better.

[2019-03-13 14:51] AdrianBZG commented on #35
True, I've never realized that!

[2019-03-13 15:16] AdrianBZG opened #36 "Add preferredOrganisms optional array to mineConfigs"
Add preferredOrganisms optional array to mineConfigs. Load them first always in the pie chart and in the left side organism filter

[2019-03-13 20:19] VarunBhandia commented on #35
Hi, @AdrianBZG @yochannah I have fixed the issue. Please review my PR.

[2019-03-13 20:22] VarunBhandia commented on #36
I am working on this issue. @AdrianBZG just want to confirm we want to load pie chart before the rendering of the table or any other component right?

[2019-03-13 20:36] VarunBhandia commented on #22
Yes, sir, there will be an issue in measuring how much % has already been loaded. We can try a JOIN and instead of getting all the info we can count the number of rows. If the user selects one select box the other select box will be according to the first such common rows is more than 0.
Will this solution will work?

[2019-03-15 18:24] VarunBhandia commented on #34
@AdrianBZG sir, can you please give some screenshots or cases that I can try. I will work on this issue.

[2019-03-20 04:38] VarunBhandia commented on #35
I have only changed the form-control width from 200px to 180px.
![Screenshot from 2019-03-20 10-06-54](https://user-images.githubusercontent.com/27995669/54659513-21bead80-4af8-11e9-8b7e-5c00c225b218.png)

[2019-03-21 10:18] AdrianBZG commented on #35
Well done @VarunBhandia !

Closed by d1edf34

[2019-03-21 10:18] #35 closed

[2019-03-21 18:13] VarunBhandia commented on #22
@AdrianBZG please sir tell me if the above solution can work?

[2019-03-22 14:32] AdrianBZG commented on #22
@VarunBhandia I'm not sure about what you mean with measuring the number of rows. The idea is to show a loading animation in the middle of the screen when some filter is applied to the table (filters at the sidebar), so that the user knows that information is loading, instead of keeping the user wondering whether it has actually clicked any filter or not.

Does it make sense?

[2019-03-22 14:35] AdrianBZG commented on #22
@VarunBhandia

PS: See https://github.com/intermine/InterMine-Data-Browser-Tool/pull/26 for illustration of what we are trying to achieve with this issue.

[2019-04-01 12:21] AdrianBZG opened #39 "Remove Graphs box if current view is not Gene or Protein"

[2019-04-01 12:26] AdrianBZG opened #40 "Expression filter: correct sub-filters depending on dataset"
Illumina bodymap should display Tissue and FPKM value sub-filters, whereas E-MTAB-62 should have the ones currently being displayed: P-value, T-statistic and UP/DOWN/NONDE.

Steps to fix this:

1) Change layout of the filter to be one cell per row, instead of spliting grid box in 2x2. So have a 4x1.

2) When changing dataset, which is gonna be the first row, alter the next rows accordingly (hide,

[2019-04-01 12:26] AdrianBZG opened #41 "Force to show always the data from the organism you’ve chosen"
Always force the organism constraint

[2019-04-01 12:27] AdrianBZG opened #42 "Make the organisms filter a multiple selector"
Choose several organisms at the same time, when no organism is selected is like having no organism filter applied.

[2019-04-01 12:28] AdrianBZG opened #43 "Something to tell if you have added the API key or not for the current mine"
Connected/not connected icon with tooltip?

[2019-04-01 12:33] AdrianBZG opened #44 "See which constraints have been added"
Maybe a button to display the current constraints?

Create a log of filters added, each time a filter is added a text is added. Maybe something like:

1. Organism -> Homo sapiens
2. Pathway -> Signal transduction

[2019-04-01 12:34] AdrianBZG opened #45 "Add Disease Name extra sub-filter to the ClinVar filter"
Basically like in the HumanMine template

[2019-04-01 12:35] AdrianBZG opened #46 "Reset all button on top"
Next to the mine selector?

[2019-04-01 12:37] AdrianBZG opened #47 "Organism priorities for organisms graph and filter using config file"
Allow to say which organisms should be first in the plot and filter, and then add the ones with highest count of items (as happens now).

[2019-04-01 12:40] AdrianBZG opened #48 "Protein Domain Name filter is giving filterQuery error"

[2019-04-01 12:41] AdrianBZG opened #49 "Allow free text (write and press the enter key) and display something if there are not results"
Allow free text (write and press the enter key) and display something if there are not results (and avoid the filter to be applied)

[2019-04-01 13:26] AdrianBZG commented on #39
Done

[2019-04-01 13:26] #39 closed

[2019-04-01 14:32] AdrianBZG commented on #47
Done

[2019-04-01 14:32] #47 closed

[2019-04-01 14:32] AdrianBZG commented on #36
Done

[2019-04-01 14:32] #36 closed

[2019-04-01 14:33] AdrianBZG commented on #17
Done

[2019-04-01 14:33] #17 closed

[2019-04-01 15:41] AdrianBZG commented on #46
Done

[2019-04-01 15:41] #46 closed

[2019-04-03 04:41] VarunBhandia commented on #49
@AdrianBZG sir can you please explain this issue in detail. I can work on it.

[2019-04-03 09:21] AdrianBZG commented on #49
@VarunBhandia Currently when searching for a term in a filter (e.g. Signal transduction in Pathway), the user has to click one of the suggested terms in order to apply the filter. This is done in this way so that users that don't know the exact available terms in each possible can get suggestions of the available terms, according to the written text.

The thing is, some users are more experienced

[2019-04-04 11:21] AdrianBZG commented on #42
Done

[2019-04-04 11:21] #42 closed

[2019-04-04 11:21] AdrianBZG commented on #41
Done

[2019-04-04 11:21] #41 closed

[2019-04-04 12:26] AdrianBZG commented on #48
Done

[2019-04-04 12:26] #48 closed

[2019-04-04 12:27] #25 closed

[2019-04-04 13:00] AdrianBZG commented on #43
Done

[2019-04-04 13:00] #43 closed

[2019-04-04 13:19] AdrianBZG commented on #45
Not needed, as the current Disease top-level filter is doing the same thing.

[2019-04-04 13:19] #45 closed

[2019-04-07 17:49] VarunBhandia commented on #49
@AdrianBZG sir can we have a [select2 ](https://select2.org/). In this, by default, the first suggestion is clicked on pressing Enter if the word is not written completed.

[2019-04-08 15:37] AdrianBZG commented on #40
Done! :trophy:

[2019-04-08 15:37] #40 closed

[2019-04-08 15:47] AdrianBZG commented on #49
@VarunBhandia I'm not sure that we need select2, as the fields are inputs instead of selects. The idea is to catch the event of pressing the enter key, check if the term is valid (returns at least 1 row when asking intermine for values with that term?), and if it is, just do the same logic as in https://github.com/intermine/InterMine-Data-Browser-Tool/blob/master/src/js/common.js#L729.

[2019-05-20 09:15] AdrianBZG commented on #44
Just read the constraints from the table object?

[2019-05-20 10:58] AdrianBZG commented on #44
Done

[2019-05-20 10:58] #44 closed

[2020-01-12 12:20] ankitskvmdam opened #50 "Gulp 3 is broken on Node 12"
Gulp throws the following error when using node v12:
[code]

[2020-01-12 12:35] ankitskvmdam opened #51 "request module is not included in package.json"
request module is not included in package.json as a result request module is not installed by the npm. As a result, npm fails to compile the code.

![Screenshot 2020-01-12 at 6 01 38 PM](https://user-images.githubusercontent.com/22586210/72218878-067ccd00-3566-11ea-870d-c4d86f17245c.png)

[2020-01-15 05:27] dmahajan980 opened #53 "Update the dependencies"
It seems that the dependencies have not been updated for a long time and it may be better if we stick to the latest versions. For the record, I've attached the screenshot of the dependencies which can be updated.
![upd](https://user-images.githubusercontent.com/37256767/72409117-e1b56f00-378a-11ea-9297-87d4e495df20.png)

[2020-01-15 11:01] AdrianBZG commented on #53
Hi @dmahajan980 ,

Thanks for spotting that, it looks that dependencies are quite old now 😟 , would you like to pick up this issue?

[2020-01-15 11:04] #50 closed

[2020-01-15 11:05] #51 closed

[2020-01-15 11:07] AdrianBZG commented on #53
PS: Some of the dependencies have been now updated by https://github.com/intermine/InterMine-Data-Browser-Tool/pull/52, but some others might still be outdated.

[2020-01-15 11:25] ankitskvmdam commented on #49
I am working on this :)

[2020-01-15 14:56] dmahajan980 commented on #53
I think, I could update the dependencies one by one while going through the code base. So @AdrianBZG please assign it to me.

[2020-01-15 15:17] dmahajan980 commented on #53
@AdrianBZG I am getting a lot of errors while running the project locally.
![err1](https://user-images.githubusercontent.com/37256767/72445525-d5a3ce80-37d7-11ea-94a7-3c156904f3b4.png)
![err2](https://user-images.githubusercontent.com/37256767/72445531-da688280-37d7-11ea-8e17-78025ab4fb7c.png)
I'm not sure about it but do you think that the above could possibly be due to some error in #52?

[2020-01-23 14:51] dmahajan980 opened #55 "Buttons on the navigation bar overlap in some devices"
The screenshots attached below itself explain the issue.

![Nav](https://user-images.githubusercontent.com/37256767/72994690-94d23800-3e1d-11ea-91de-a6552ce9a619.png)
![nav2](https://user-images.githubusercontent.com/37256767/72995038-3bb6d400-3e1e-11ea-825e-9780a36536c5.png)

This is because the navigation bar is not completely responsive.

[2020-01-23 14:55] AdrianBZG commented on #55
Hi @dmahajan980 ,

Would you like to try and make it responsive? That would be pretty nice 😄

[2020-01-23 14:57] dmahajan980 commented on #55
Sure @AdrianBZG ! I will make a PR soon to fix this.

[2020-01-23 17:09] dmahajan980 opened #56 "Footer text moves out of the box in some devices"
The text in the footer moves out of the container on some of the defined screen sizes. Here's the screenshot for the issue:

![Footer](https://user-images.githubusercontent.com/37256767/73006359-880b0f80-3e30-11ea-82bc-5b5860941212.png)

[2020-01-24 19:55] dmahajan980 opened #58 "Restore the dependencies' version used before commit #52"
After updating some dependencies, the tool seems to generate errors mainly due to code breaking changes. To resolve them, we need to go back to the previous versions of the dependencies used before the commit #52 .

[2020-02-01 06:45] Zemotacqy commented on #33
Hey, the same issue persists in the data-browser tool currently deployed. The CORS issue must be handled server side, in that case, the only solution I am guessing would be to allow CORS at server side in the respective request URLs. I would like to take up this issue. Do let me know if you have something else in mind.

[2020-02-03 12:05] #58 closed

[2020-02-12 11:34] #53 closed

[2020-02-12 14:05] Dhruvi16 commented on #34
Hey! Can I take this up?
Thank you
Dhruvi

[2020-02-12 14:08] AdrianBZG commented on #34
Hi @Dhruvi16 ,

Sure. Ideally we would like to display an error message when there's an error loading the mine when accessing the data browser. In this prompt message it would be ideal to show a dropdown to choose a different mine so that the user doesn't get stuck in a not working one.

[2020-02-12 14:52] Dhruvi16 commented on #34
Hey! I am having trouble running the project locally. Can you guide me on what to do after `npm run`?
Thank you
Dhruvi

[2020-02-12 16:07] dmahajan980 opened #63 "Improve Getting Started or BUILD.md"
More details to the Building docs can be added for better documentation. We can change the BUILD.md to getting-started.md containing more detailed instructions on setting up the repository, running it locally on the machine and other related information about processes and workflows.

[2020-02-12 19:43] dmahajan980 commented on #22
Hi @AdrianBZG! I would like to work on this issue.

[2020-02-13 15:11] AdrianBZG opened #64 "Make the app fully responsive"
It would be ideal to make the app fully responsive.

[2020-02-13 15:14] AdrianBZG commented on #56
Related to #64

[2020-02-13 15:14] AdrianBZG commented on #55
Related to a bigger task: #64

[2020-02-13 15:21] AdrianBZG opened #65 "Unwanted grey color background and extra row in the header"
There's an unwanted space with grey background above the header, and there is a grey background under the menu.

Ideally we would like to remove that unwanted header spacing and use the same bbackground color (white?) everywhere.

Screenshot:

![image](https://user-images.githubusercontent.com/8275330/74449489-87d0c380-4e74-11ea-88ee-fe8636e58d3c.png)

[2020-02-13 15:28] AdrianBZG commented on #63
Thanks for the suggestion, that should be helpful 😄

[2020-02-13 16:05] AdrianBZG commented on #65
Fixed by ada6fc9

[2020-02-13 16:05] #65 closed

[2020-02-13 16:05] AdrianBZG commented on #56
Fixed by ada6fc9

[2020-02-13 16:05] #56 closed

[2020-02-13 16:05] AdrianBZG commented on #55
Fixed by ada6fc9

[2020-02-13 16:05] #55 closed

[2020-02-13 16:07] AdrianBZG commented on #22
Hi @dmahajan980 !

Sure. The idea is to show some kind of "loading bar" or something similar when a filter (or filters) are being applied to the im-table.

Basically, when the table is in the "Loading Table..." state (click in a Organism filter for instance to see that), we also want to show a "loading" icon or something on the screen, so that the user doesn't go and click everywhere before waitin

[2020-02-13 16:10] AdrianBZG commented on #22
PS: There was some work in progress in this PR: https://github.com/intermine/InterMine-Data-Browser-Tool/pull/26, but didn't really went further unfortunately.

[2020-02-13 16:33] lazycipher opened #66 "Server Started message on console"
As of now, when we run `npm start`, we don't get any console message saying that the server is started already and that's why one keeps waiting on that step.
Adding an alert message `Server Started at Port: XYZ` at the end of all bundling processes will look good.

I'm working on this.

[2020-02-13 16:36] Dhruvi16 commented on #34
I am not sure how to reproduce this error. Could you please help me with that? I am new to the platform and I am not very familiar with the interface and data. So a little help would be nice.
Thank you
Dhruvi

[2020-02-13 16:39] AdrianBZG commented on #66
Thanks.

Specifying the actual URL where you can access the browser sounds better than just the port. Something like http://IP:PORT/

[2020-02-13 16:47] AdrianBZG commented on #34
@Dhruvi16 Try removing this lines that prevent some mines from appearing as an option, and then select one of them. I'm sure that some are failing for different reasons (missing entities in their schema that we use for the plots/filters, usage of HTTPS #33, etc). There are 3 lines to remove the mine pre-filtering:

https://github.com/intermine/InterMine-Data-Browser-Tool/blob/master/src/js/common.

[2020-02-13 16:50] lazycipher opened #67 "dev server of browser tool"
Currently, the `npm run dev` command in project executes the command `gulp && webpack --config webpack.config.js`. We're missing webpack dependency in package.json and the config file `webpack.config.js` as well.

[2020-02-13 16:53] dmahajan980 commented on #63
@AdrianBZG I have made some changes and will soon send a pull request for it.

[2020-02-13 17:03] Dhruvi16 commented on #34
Hey! I am sorry for so many doubts but I am only able to see this following window-
![image](https://user-images.githubusercontent.com/34674462/74459010-950ba380-4eb0-11ea-96dd-ccaf68d8c2b8.png)
I think I am missing something. I am not sure about the filters you mentioned above.
Thank you
Dhruvi.

[2020-02-13 17:08] dmahajan980 commented on #64
Hi @AdrianBZG! Thanks for opening up this issue. Since I had a few ideas regarding the app's and its components' responsiveness, I am very much interested in working upon this issue.

[2020-02-13 17:15] dmahajan980 commented on #65
@AdrianBZG I think you referenced the wrong commit while closing this. The one you mentioned was about _Updating Dependencies_. I think this is the correct one: 728da45d044e821429c63c60fa69f27334826e6e

[2020-02-13 17:33] dmahajan980 commented on #55
@AdrianBZG I think you referenced the wrong commit while closing this. The one you mentioned was about Updating Dependencies. I think this is the correct one: 728da45

[2020-02-13 17:34] dmahajan980 commented on #56
@AdrianBZG I think you referenced the wrong commit while closing this. The one you mentioned was about Updating Dependencies. I think this is the correct one: 728da45

[2020-02-13 18:06] AdrianBZG commented on #64
@dmahajan980 Sure, go ahead. We ought to discuss the ideas you have in this issue, so that we can come to a proposal before actually coding it 😄

[2020-02-13 18:14] AdrianBZG commented on #34
@Dhruvi16 First thing I notice is that you probably don't have the latest version of the browser: do a git pull.

About the "mine pre-filtering" I'm talking about:

In your screenshot, there's a dropdown to the left of the "Gene" button. That button gets populated with the mines in the registry.

However, since some mines are not fully compatible with this data browser, I added a filter to not add

[2020-02-13 19:08] lazycipher commented on #64
@AdrianBZG, I propose to use Material Design! I really love this way of designing web pages!

[2020-02-13 19:08] dmahajan980 opened #71 "Move the tests from HTTPS Mines to non-HTTPS Mines"
## Description
Currently the tests fail due to the fact that HumanMine is HTTPS and we have issues with CORS

## Steps to Reproduce
Run `npm test`

## Expected Behaviour
All tests should pass.

## Actual Behaviour
All the tests fail.

## Settings
- OS: Ubuntu 18.04 LTS

## Screenshots
![issues](https://user-images.githubusercontent.com/37256767/74469261-51ba3080-4ec2-11ea-8970-0f8979105733.png)

[2020-02-13 19:13] lazycipher commented on #71
@dmahajan980, I believe trying to solve `CORS` first will be better at first. If not then you can try to move the tests to `http` mines! What do you say @AdrianBZG?

[2020-02-13 19:16] dmahajan980 commented on #71
@lazycipher currently @Zemotacqy is solving the CORS issue. But I guess it would be better to make the tests functional till the time CORS isn't fixed. Maybe we can move back to HumanMine later once the CORS is fixed.

[2020-02-13 19:19] lazycipher commented on #33
@Zemotacqy, Any Updates?

[2020-02-13 19:21] lazycipher commented on #71
@dmahajan980, He started working on that 13 days ago. I guess it'll be better to ask for an update and then we may proceed if he'll be needing more time!

[2020-02-13 19:44] AdrianBZG commented on #71
I think that fixing the CORS issue is a high priority at the moment. I don't know if Zemotacqy has actually made any progress, but worth just trying to solve it instead of waiting.

[2020-02-13 22:43] dmahajan980 commented on #22
@AdrianBZG Thanks for the response! All this information could be very useful during the implementation. I'll take a note of all of it.

[2020-02-14 03:40] dmahajan980 commented on #64
@AdrianBZG, for the app's responsiveness, I intend to fix the its main body (other than navbar, side-nav and footer) first. Currently, we have the following (major) responsiveness issues related to it:
1. Graph and Pie-chart squeeze in mobile view or on devices with significantly lower device widths

     ![mobile](https://user-images.githubusercontent.com/37256767/74498825-d8ddc780-4f07-11ea-92cf

[2020-02-14 04:58] Zemotacqy commented on #33
Replied on discord.

[2020-02-16 12:52] Dhruvi16 commented on #34
I got it! But there is no data.
I am getting this error.
![image](https://user-images.githubusercontent.com/34674462/74604963-50b71800-50e9-11ea-804c-9e9f0694f5ee.png)

[2020-02-17 16:23] #63 closed

[2020-02-18 16:07] lazycipher commented on #66
I guess we should close this issue as the PR is merged now which solves this.

[2020-02-18 16:07] #66 closed

[2020-02-18 16:10] lazycipher commented on #67
Hi @AdrianBZG,
Can you explain to me a bit about the plan with webpack?

[2020-02-18 16:14] AdrianBZG commented on #67
@lazycipher The idea to have hot reloading when running 'dev' version, so that changes in the CSS style, JavaScript, etc, are compiled real-time and you can see the changes without having to close and open the app again.

Does that make sense?

[2020-02-18 16:15] AdrianBZG commented on #67
Or maybe we can use something different instead of webpack?

[2020-02-18 16:33] lazycipher commented on #67
I got the idea! I'll look around for alternatives if available and proceed with webpack if it's best(which I think it is).

[2020-02-18 16:48] AdrianBZG commented on #34
@Dhruvi16 I think that may be a HumanMine specific error. But anyway that's what we want to handle, when an error occurs, prompt the user to change mine instead.

[2020-02-19 13:19] AdrianBZG opened #72 "Stop using express for handling the requests and instead do all in client-side with imjs"
Stop using express for handling the requests and instead do all in client-side with imjs

[2020-02-20 15:43] AdrianBZG commented on #72
Here ya go

[2020-02-20 15:43] #72 closed

[2020-02-20 15:44] AdrianBZG commented on #33
No longer an issue after porting to imjs (#72).

[2020-02-20 15:44] #33 closed

[2020-02-20 16:39] AdrianBZG opened #73 "Modularize the project using React components for better scalability"
We would like to modularize the project using React components for better scalability.

[2020-02-20 18:06] dmahajan980 commented on #73
Hi @AdrianBZG! I think we shall link the issue #64 as turning this into React components will also solve that issue.

[2020-02-20 18:08] dmahajan980 commented on #73
Hi @AdrianBZG! I think we shall link the issue #64 with this as turning the browser into modular React components will also solve that issue. Also, I am very much interested in this and would like to work on this issue.

[2020-03-05 17:18] sabina-rohman commented on #49
Hi, @AdrianBZG I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 17:20] sabina-rohman commented on #34
Hi, @AdrianBZG I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 19:34] sabina-rohman commented on #73
Hi, @AdrianBZG I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 20:44] HaseebAhmad23 commented on #64
Is this issue solved or not?
I want to work on it.

[2020-03-05 21:35] lape15 commented on #49
Hi, @AdrianBZG  I'm an outreach applicant for this May 2020, is this issue still open and can i work on it?

[2020-03-05 21:39] dmahajan980 commented on #73
Hi @sabina-rohman! This issue is currently available and isn't assigned to anybody yet. You may solve it once @AdrianBZG assigns this to you but I would suggest you to pick up some beginner-friendly or first-time-only issues before as it'll help you to familiarize yourself with the codebase.

[2020-03-06 09:01] GraceChiamaka commented on #22
@AdrianBZG I'm an outreachy applicant. Can I work on this issue?

[2020-03-06 09:03] GraceChiamaka commented on #64
@AdrianBZG  I'm an outreachy applicant, Can I work on this issue?

[2020-03-06 11:49] Officialkome commented on #64
Hello, I would love to give this a go, can it be assigned to me please? @AdrianBZG

[2020-03-06 11:58] yochannah commented on #64
Hey folks! this is probably an issue best tackled by one person at a time! ❤️  @dmahajan980 - are you still working on this? If not, we'll reassign it to the first person who is still able to work on it :)

[2020-03-06 12:12] dmahajan980 commented on #64
Hi @yochannah! Sorry, I am a bit busy nowadays and so I don't think I'll be able to work on it anytime soon. You can assign this to @HaseebAhmad23, but I think that if somebody solves issue #73 then this issue will be automatically fixed.

[2020-03-06 12:50] yochannah commented on #64
thansk @dmahajan980 !

@HaseebAhmad23 - I've assigned this to you 🚀

[2020-03-06 13:15] Dhruvi16 commented on #34
Hey! I am not working on this issue currently so I guess you can go forward with it. Apologies for the delay.
Thank you.

[2020-03-06 14:23] sabina-rohman commented on #34
Hi @Dhruvi16 Thanks for letting me know. Should I wait for @AdrianBZG  to assign the issue to me or i just go ahead and fork the repository?
Or can you assign it to me please?

[2020-03-06 14:26] sabina-rohman commented on #73
Hi @dmahajan980 Thanks. I will do that.

[2020-03-06 14:28] Dhruvi16 commented on #34
Oh! I am just a contributor. You should totally wait for @AdrianBZG reply.
Thank you.

[2020-03-06 14:34] sabina-rohman commented on #34
Thanks @Dhruvi16 :)

[2020-03-06 15:07] AdrianBZG commented on #34
Hi @sabina-rohman ,

Yes, sure go ahead, I'll assign it to you :)

[2020-03-06 15:10] AdrianBZG commented on #22
Hi @GraceChiamaka ,

Sure, I'll assign this to you :) Let me know if you have any questions.

[2020-03-06 15:12] vandnakapoor19 commented on #22
Hey @AdrianBZG, I'm also Outreachy Applicant and want to solve this issue.
Thanks

[2020-03-06 15:15] AdrianBZG commented on #49
Hi @sabina-rohman and @lape15 ,

Sure you can work on this, but since @sabina-rohman has already assigned #34 , I believe it's fair if I assign this one to @lape15 .

Let me know if you have any questions.

[2020-03-06 15:20] AdrianBZG commented on #71
The CORS issue was fixed in #33 by removing the Express middle layer and using directly im.js, so we can now re-write the tests using im.js queries.

[2020-03-06 15:22] AdrianBZG commented on #67
Hi @lazycipher , any updates on this? 😄

[2020-03-06 15:26] AdrianBZG commented on #73
Hi @sabina-rohman , thanks for your interest.

This issue is probably the hardest, in terms of how much needs to be done, in this repo. This will probably require porting the whole app to use React, so that we can have a fully responsive (#64) and modularized code.

Before assigning this issue to someone I would like to see/discuss first a plan of how this would be tackled, so that we can agree on

[2020-03-06 15:32] AdrianBZG opened #74 "Update screenshots in the readme to reflect latest version (1.2) look"
Update screenshots in the README.md to reflect latest version (1.2) look

[2020-03-06 15:42] JM-Mendez commented on #32
Hi @AdrianBZG, I'm an Outreachy applicant and would love a shot at this issue.

[2020-03-06 15:45] GraceChiamaka commented on #22
@AdrianBZG  Thanks. I'll update you as I go along

[2020-03-06 15:46] AdrianBZG commented on #32
Hi @JM-Mendez ,

Great! Let me know if you have any questions, I'll assign this to you 😄

[2020-03-06 15:46] PrastutiUpadhaya commented on #64
Hi, I would also love to work on this issue!

[2020-03-06 15:48] HaseebAhmad23 commented on #64
Thanks @yochannah !

[2020-03-06 15:48] lazycipher commented on #67
Hi @AdrianBZG,
I've exams going on! As soon it gets over, I'll get back to it.

[2020-03-06 15:51] JM-Mendez commented on #32
Awesome! I'll start getting familiar with the codebase and the linked issues to better understand the requirements, and then get back to you.

Are you the mentor for this issue/project that I need to report to? Not sure how this process works.

[2020-03-06 15:52] AdrianBZG commented on #32
That sounds like a good way to start. Yes I'm the mentor for this project, so happy to help with any issues.

[2020-03-06 16:20] PrastutiUpadhaya commented on #22
Hi, I would love to work on this!

[2020-03-06 16:22] PrastutiUpadhaya commented on #74
Hi, can I try this out?

[2020-03-06 16:40] AdrianBZG commented on #74
Hi @PrastutiUpadhaya,

Sure! 👍

[2020-03-06 17:09] sabina-rohman commented on #34
@AdrianBZG Thanks :)

[2020-03-06 17:11] sabina-rohman commented on #49
@AdrianBZG Sure. Thanks :)

[2020-03-06 17:41] PrastutiUpadhaya commented on #74
Thanks @AdrianBZG !

[2020-03-06 17:59] JM-Mendez commented on #32
So I came across 2 issues so far with setting up the project. I'm not familiar with coffeescript, so I just traced my way through the compiled node modules package.

---
1. The only test case hangs indefinitely.

I was able to `console.log` the following error:

`TypeError [ERR_INVALID_PROTOCOL]: Protocol "https:" not supported. Expected "http:"`

in [the https module](https://github.com/alexkalde

[2020-03-06 18:20] AdrianBZG commented on #32
@JM-Mendez It would be very nice if you could set-up the dev environment, and this issue was opened to try to address that: https://github.com/intermine/InterMine-Data-Browser-Tool/issues/67.

Happy if give it a try 😄

After that we can take a look at what happens with the other issue.

[2020-03-06 18:26] JM-Mendez commented on #67
Hi @AdrianBZG, requesting to be assigned this task. Once assigned, do you have a preference for either webpack or gulp?

[2020-03-06 18:29] AdrianBZG commented on #67
Hi @JM-Mendez , I don't have a preference, really. I leave that up to you to choose the one most suitable for the current codebase 😄

[2020-03-06 21:50] dmahajan980 commented on #22
@vandnakapoor19 @PrastutiUpadhaya thanks for your interest in solving this issue! But this issue has been assigned to @GraceChiamaka. You can look for other issues that are open and not assigned to anybody or maybe report a new issue that you find in the data-browser.

[2020-03-07 01:16] rafayhasankhan commented on #74
Hi there, @AdrianBZG would you assign this issue to me.

[2020-03-07 10:12] sabina-rohman commented on #34
@AdrianBZG I have setup the project locally and am able to launch it. I looked at removing those three lines you mentioned in one of the above comments. But turns out that in the latest code in common.js, those lines are already commented out.

https://github.com/intermine/InterMine-Data-Browser-Tool/blob/master/src/js/common.js#L1623
https://github.com/intermine/InterMine-Data-Browser-Tool/blob/m

[2020-03-07 10:57] nocodes commented on #73
Hi @AdrianBZG I’m an outreachy applicant and I’m interested in this project. I have some questions
1) Are there specifics for using React
2) If no specifics,Is it possible to port to Vue instead of React
If it’s possible, I would like to discuss my plans and if approved, take up the project.

[2020-03-07 11:04] nocodes commented on #71
Hi @AdrianBZG , I’m an outreachy applicant and I would like to take up this issue

[2020-03-07 11:16] PrastutiUpadhaya commented on #74
Hi @AdrianBZG I have created a pull request for this, can you please see and suggest changes, if any?

[2020-03-07 11:17] PrastutiUpadhaya commented on #74
Also, I have downloaded the release of version 1.2, and have another folder named InterMine-Data-Browser-Tool-1.2, and I cd into it, however it shows error whenever I do npm test or npm start in this folder. The version I have updated screenshots with is the one I got from the cloned repo, which I believe is 1.1.0

[2020-03-07 11:42] nehasangeetajha commented on #74
hi @AdrianBZG , if this issue is not resolved can u please assign this to me?

[2020-03-07 19:21] PrastutiUpadhaya commented on #71
Hi, Can I try this out?

[2020-03-08 19:32] #74 closed

[2020-03-08 21:36] codeEmpress1 commented on #71
Hi, I'm an outreachy applicant and I will like to work on this issue.

[2020-03-08 21:41] codeEmpress1 commented on #73
Hi @AdrianBZG , I'm an outreachy applicant and i would like to work on this issue

[2020-03-09 02:08] Joyce-O commented on #71
I created a pull request with hopefully a solution to the issue, however I don't think my solution maybe what is expected and I will like to get a feedback. @AdrianBZG
https://github.com/intermine/InterMine-Data-Browser-Tool/pull/77

[2020-03-09 09:55] NinaLoeterman commented on #49
I would be happy to work on this issue (I am also an outreach applicant) is it still relevant?

[2020-03-09 11:04] NinaLoeterman commented on #64
I'm happy to work on this issue if it opens up again! (Outreachy applicant for may 2020)

[2020-03-09 14:39] shivanigangadharan opened #79 "Update year in Footer"
## Description

The year in the footer of the web app reads as "@ GSoC 2018". It needs to be updated to "@ GSoC 2020".

## Steps to Reproduce

The correction needs to be made in 'footer.pug' file.

[2020-03-09 15:43] developer22-university commented on #79
i can make it

[2020-03-10 00:56] JM-Mendez commented on #32
Hi @AdrianBZG, I've managed to add multiple lists to the query using `window.imTable.query.addConstraints` which allows me to pass in an array of contraints.

For the most part it returns a result from the server—I stepped through the debugger—until it tries to parse the xml. Then I run into the error below. I truncated the `view` and `constraintLogic` so the code fits without scrolling

[code]

Y

[2020-03-10 16:43] lape15 commented on #49
thank you @AdrianBZG

[2020-03-12 03:12] priscacodes commented on #71
Hi @dmahajan980 I am an Outreachy applicant and I will like to pick this up. I have got some experience with unit and integration testing in Nodejs.

[2020-03-12 04:47] muskangupta-iitr commented on #64
Greetings.
This issue has not been worked upon for some time now and I am quite interested in working on this issue. Can I be please assigned this to so that I can start working on it?

[2020-03-12 08:16] dmahajan980 commented on #64
Hello everyone!
Lovely to see so many people willing to fox this issue. But currently, this issue has been assigned to @HaseebAhmad23. I would request you all to look for some other issues and probably, this one will be assigned to the next person who requested to work on this issue if in case @HaseebAhmad23 couldn't work on it.

[2020-03-12 10:11] yochannah opened #83 "add windows setup guide"
this issue is for @officialkome - they've set up an amazing windows tutorial on wordpress in #78 but would like to convert it to markdown :)

[2020-03-12 10:15] Officialkome commented on #83
Thanks for creating this issue @yochannah, I would get started as soon as it is assigned to me.

I tend to use markdown to re-write the tutorial, so that it is here on GitHub instead of directing to a remote site (WordPress in this case).

This will make it even easier for contributors to access. 😁

[2020-03-12 19:27] muskangupta-iitr opened #84 "[lint] Missing code linting and code formatting configurations"
There are no configurations and scripts for lint fixing and solving code formatting issues during development.

We can use `eslint` for solving linting and `prettier` for solving code formatting issues.

## Settings

- OS: Linux (Ubuntu 18.04)

[2020-03-13 17:30] uimarshall opened #85 "Background-color for button not visible enough in the menu bar."
## Description
The background-color for the button containing `protein` text is not visible enough in the menu bar.
It needs to be given a background that is visible for good contrast in line with other items in the menu bar.

## Steps to Reproduce

[2020-03-13 19:13] uimarshall commented on #85
@Nikhil-Vats, I have checked the ``navbar.pug`` file but the `div` that contains the button is not displaying contents. I could only see `div#headerButtons`.
Can you help with the file where I can fix the button?

[2020-03-14 18:41] ahlamatout commented on #85
Can I work on this issue?

[2020-03-14 18:50] ahlamatout commented on #79
I will work on this issue.

[2020-03-15 14:57] Emuohwo opened #86 "Point University of Cambridge to their website"
## Description

Currently, University of Cambridge is not pointing to their official website. In addition, HTML character entity was not use for the special character like the ampersand.
![image](https://user-images.githubusercontent.com/41282717/76703663-4a886d00-6690-11ea-824f-3e901c82514b.png)

## Steps to Reproduce

The necessary needs to the be made in the 'footer.pug file. Use anchor tag and

[2020-03-16 09:40] Emuohwo commented on #85
I'm an outreachy applicant. I would like to work on this issue

[2020-03-16 11:25] uimarshall commented on #85
@Emuohwo, you can look at the webpage and look for areas of improvement, then create an issue. I am currently working on this issue.

[2020-03-16 11:58] shaymaa91 opened #88 "The checkboxes are showing over the Names in the Dataset name part"
@Nikhil-Vats, In the Dataset name part when you try to choose a dataSet, the checkbox is showing over the name of the datasets and it should be showing before or or after the dataset name.
here is a screenshot showing the problem:
![image](https://user-images.githubusercontent.com/61957173/76765344-4ac75c00-67a7-11ea-98bb-c57bfb6a73b6.png)

[2020-03-17 00:34] Emuohwo opened #90 "Add Scroll up Button"
## Description

Scrolling up a web page is easier when the is a button that does the job. It is common in most websites. The need for this button is obvious when the web page is resized.

## Steps to Reproduce

Add the html code in footer.pug
Style it in data-browser-style-main.css and
Add the scroll function in main-view.js
@Nikhil-Vats @AdrianBZG @yochannah  Please assign the issue to me.
## Exp

[2020-03-17 01:20] Emuohwo commented on #86
@Nikhil-Vats I @AdrianBZG @yochannah have raised a  pull request for this issue. Kindly review it. Thank you

[2020-03-17 11:54] AdrianBZG commented on #67
Closed by @JM-Mendez on PR#76

[2020-03-17 11:54] #67 closed

[2020-03-17 12:09] #79 closed

[2020-03-17 12:14] #86 closed

[2020-03-17 12:17] AdrianBZG commented on #71
Hi, @Joyce-O added a test using im.js that makes the 'npm test' work now, but we would like to have a larger list of tests that checks that (almost) every query used by the app is tested in the tests.

Happy if anyone wants to pick this up.

[2020-03-17 12:20] AdrianBZG commented on #32
Hi @JM-Mendez ,

In this query:

`<query model="genomic" view="Gene.symbol Gene.name..." constraintLogic="(A OR B..." >
  <constraint path="Gene" op="IN" value="PL_BHF_UCL_cardiovascGenes" code="N" />
  <constraint path="Gene" op="IN" value="PL_DiabesityGWAS_pval-4" code="N" />
</query>`

You see that in the two constraints, you have the same code (N). Can you try to change that to A for the first

[2020-03-17 12:21] AdrianBZG commented on #88
This is probably largely solved by addressing #64 , which intends to port the app to React, so we would prefer to do that instead of addressing each responsiveness-related issue individually.

Thanks.

[2020-03-17 12:21] #88 closed

[2020-03-17 12:30] AdrianBZG commented on #34
Hi @sabina-rohman ,

I have changed the title of the issue, since now we are using im.js the errors you can get are different. We would like to notify the user of any errors that appeared during loading of the default filters, such as the Pathways filter.

As an example, switch to XenMine and you will in the console an error saying that the XML query is not well formatted, as Gene.pathways.name do

[2020-03-17 12:38] AdrianBZG commented on #73
Hi @nocodes and @codeEmpress1 , I'm happy to hear about your individual plans to take on this issue. Please discuss by email ar989 (at) cam.ac.uk. Thanks.

[2020-03-17 12:39] AdrianBZG commented on #64
Hi, I'm going to re-assign this issue (following our contribution guidelines). I'm happy to hear about your individual plans to take on this issue. Please discuss by email ar989 (at) cam.ac.uk.

Thanks.

[2020-03-17 12:45] AdrianBZG commented on #49
Hi, following our contribution guidelines, I will now re-assign this issue. Happy if anyone wants to work on it.

[2020-03-17 12:58] PrastutiUpadhaya commented on #90
@AdrianBZG Can i work on this?

[2020-03-17 13:00] AdrianBZG commented on #90
@PrastutiUpadhaya Sure, go ahead.

[2020-03-17 13:22] shaymaa91 commented on #49
@AdrianBZG  I want to work on this please

[2020-03-17 13:23] AdrianBZG commented on #49
@shaymaa91 Sure 😄

[2020-03-17 13:30] muskangupta-iitr commented on #84
@AdrianBZG @Nikhil-Vats Please review!

[2020-03-17 13:55] muskangupta-iitr commented on #71
Hi @AdrianBZG, I am Outreachy aspirant and want to take the task for writing the tests. I want to discuss that when I am trying to fetch json data from `https://www.humanmine.org/humanmine/service` with `im.js` and getting still getting the protocol error. In Pull request #77, the url is changed from `https://www.humanmine.org/humanmine/service` to `http://zebrafishmine.org/service` which is http

[2020-03-17 18:25] ahlamatout opened #91 "UI issue - Enhancement for the "Add button", Views manager pop up."
Enhancement for the "Add button":
1- Make it the same size as "Close" button on the same pop up.
2- Add some margin above the button to make a space between the button and the item above it.

**Steps to Reproduce**
1- Click on Add view button on the main page.
2- The "Views manager" pop up appears.

**Expected Behaviour**
There should be a space between the "Add" button and the drop-down list abov

[2020-03-17 18:26] ahlamatout commented on #91
Hi @Nikhil-Vats , I opened this issue and I think it's a good first issue.
Can you please assign it to me?

[2020-03-17 19:50] Joyce-O commented on #71
Alright, I will update it then.

[2020-03-18 01:18] HaseebAhmad23 commented on #64
Hi, I couldn't get enough time to work on it. You can re-assign it to anyone else.

Regards,
Haseeb
________________________________
From: Adrián Bazaga <notifications@github.com>
Sent: Tuesday, March 17, 2020 1:39 PM
To: intermine/InterMine-Data-Browser-Tool <InterMine-Data-Browser-Tool@noreply.github.com>
Cc: HaseebAhmad23 <haseeb26@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [i

[2020-03-18 01:28] Emuohwo commented on #90
@AdrianBZG  I've already worked on this issue on my repository and was about to create a pull request for it. I was about to copy the issue number in order to do that only to find out that you've assigned it to @PrastutiUpadhaya. What do you suggest i should do?

[2020-03-18 02:16] salmabadawy7 commented on #91
Hi @Nikhil-Vats and @AdrianBZG, I opened this issue and I think it's a good first issue.
Can you please assign it to me?

[2020-03-18 02:17] salmabadawy7 commented on #85
I'm an outreachy applicant. I would like to work on this issue

[2020-03-18 04:17] PrastutiUpadhaya commented on #90
Hey @Emuohwo it's alright, send the pull request, I had anyway just started working so it's cool I will work on some other issue :)

[2020-03-18 09:35] lape15 commented on #64
Hi, Can i get a chance to work on this. It's tough out there looking for projects to work on

[2020-03-18 09:45] lape15 commented on #64
i would go with @dmahajan980 approach

[2020-03-18 13:04] Nikhil-Vats commented on #91
@salmabadawy7 I have assigned this issue to @ahlamatout since she opened it and asked first but you are free to submit a PR as well. Both of your PRs will be counted as contributions in Outreachy. 🎉 😄

[2020-03-18 13:29] shaymaa91 commented on #49
Hi @AdrianBZG could you please assign this to me? I'm working on it and I will send the code changes soon to discuss with you, I'm going to add the filter when the user press the enter key, and on click of the enter key it should check if the the value of the input field exists or not, it will apply the filter if exists, and will show error msg if not (here I'm not sure how the error msg should be

[2020-03-19 09:39] PrastutiUpadhaya opened #93 "Checkboxes under the "Dataset Name" heading cover text."
Selecting the Dataset Name option on the toolbar on the left displays various datasets, which have to be checked, however, the checkboxes cover the text.

The checkboxes should ideally be aligned and not cover any text for a neater frontend.

OS: Windows 10

Screenshot
![Screenshot (20)](https://user-images.githubusercontent.com/58902654/77052927-8fdfce00-69f3-11ea-81d8-18c141aec1f3.png)

[2020-03-19 10:51] shaymaa91 opened #94 "The X button is not clearing the input text when the user click on"
@AdrianBZG  @Nikhil-Vats
when the user use one of the filters (e.g: Pathway Name filter) and select one of the filter options, the X button is show, and if the user click the button, it will reset the view and the table content, but the value of the input text is not cleared, I think since the view is cleared on the button press, then the input text value should be cleared also.

## Steps to Repro

[2020-03-19 10:53] shaymaa91 commented on #94
Hi @AdrianBZG  I have created this issue, could you please assign this issue to me if you see this should be fixed

[2020-03-19 11:46] muskangupta-iitr commented on #49
@AdrianBZG We can fix this issue by just enabling one of the options `autoFocus:true` as per the [autocomplete documentation](https://api.jqueryui.com/autocomplete/#option-autoFocus). As the user types anything in the input box, according to search results it will automatically selects the first option and when user press the enter it will be selected.

[2020-03-19 12:31] Emuohwo commented on #64
@AdrianBZG @yochannah I would like to work on this issue when there's need for it to be reassigned. Please reassign it to me when necessary

[2020-03-19 13:56] itolimaesther commented on #93
@PrastutiUpadhaya please can I work on this issue?

[2020-03-19 16:30] KPoornima commented on #93
Hi! @PrastutiUpadhaya I am interested to work on this issue

[2020-03-19 21:22] shaymaa91 commented on #94
@AdrianBZG  I just sent a PR could you please review and let me know if every thing is good?

[2020-03-19 22:29] muskangupta-iitr commented on #85
@AdrianBZG @Nikhil-Vats  For this issue, we can use bootstrap outline buttons for creating contrast and to easily identify the selected one.

![bar](https://user-images.githubusercontent.com/50856599/77120481-f51cd900-6a5e-11ea-8bd0-977affd5620c.png)

[2020-03-20 05:30] salmabadawy7 commented on #93
hi can i work for this issue

[2020-03-20 18:21] #85 closed

[2020-03-21 07:45] PrastutiUpadhaya commented on #34
Is this issue assigned informally to anyone? I would like to try working on this @AdrianBZG

[2020-03-21 13:03] ahlamatout commented on #91
@Nikhil-Vats Can you please help me in which file should I make the changes? I made some search but with no result.

[2020-03-21 13:55] guptadiksha307 commented on #64
Hi, I'm Diksha, an outreachy applicant. After looking at this issue, I found that the issues told by @dmahajan980 are mostly solved except that table part. I would like to work on this issue. Can I take up this issue?

[2020-03-21 17:19] Emuohwo commented on #93
I'm interested in this issue. Please assign it to me.

[2020-03-21 22:37] muskangupta-iitr opened #99 "[missing] `cross-env` module is missing for setting up environment variables"
## Description
`cross-env` module is widely used npm package for setting up environment variables through single command. We can directly set environment variable from `package.json` file. For example:
[code]
The above command is for starting the development server and setting `NODE_ENV` variable to development.

I would like to work on this issue :smiley:

## Settings

- OS: Linux (Ubuntu18.04)

[2020-03-21 22:43] muskangupta-iitr commented on #99
@AdrianBZG @Nikhil-Vats Review!

[2020-03-22 15:09] guptadiksha307 commented on #93
Hi,I'm Diksha, an outreachy applicant. Can I work on this issue please?

[2020-03-23 16:36] ahlamatout commented on #91
@Nikhil-Vats @AdrianBZG Can you please help me where should I make the changes? in which file? I know what are the changes that should be done, but I can't find the file.

[2020-03-23 16:51] shaymaa91 opened #101 "duplicated input field once the user select a value from the list"
## Description
when the user try to select a value from the list of one of the provided filters, then it will show two search input fields, which should be only one field for view and select and clear the selected value.

## Steps to Reproduce
1. choose one of the filters to test the case (e.g: Pathway Name filter)
2. search a value (e.g: signal Transduction)
3. select a value

## Expected Behavio

[2020-03-23 16:52] shaymaa91 commented on #101
@AdrianBZG  @Nikhil-Vats  I just created this issue and I will send you a PR with the fix, waiting for your approval if you see this also should be fixed. appreciate your support and efforts :)

[2020-03-25 08:35] shaymaa91 commented on #49
Hi @AdrianBZG
I sent a PL with description of what I did inside the code, I just catch the enter key event on the Pathway filter and if every thing is okay, I will apply the same steps for the other filters,
before adding the filter it will check that the term actually exists, and display an error message says "The value does not exists" if not.
I tested the code locally and seems it works as expe

[2020-03-26 14:14] GraceChiamaka commented on #22
@AdrianBZG  I just noticed you unassigned me from this issue
but from testing this issue and talking to @yochannah about it I think this issue is fixed
The loader attached to it works as it should I tested with the description you gave earlier and also simulated a slow network too.
I have some video records of the test if that would be more useful.

Thanks

[2020-03-26 14:25] GraceChiamaka commented on #64
Hello @AdrianBZG @yochannah I would like to work on this issue.
I've sent an email detailing how I plan to solve this issue

[2020-09-03 15:27] #83 closed

[2020-09-03 15:27] #91 closed

[2020-09-03 15:27] #93 closed

[2020-09-03 15:27] #99 closed

[2020-12-22 10:19] Frankie-Machine commented on #49
Hello everyone i am really interested in contributing to this organization. Can i be assigned this issue?

[2020-12-22 10:29] Frankie-Machine commented on #22
Hello everyone. This is my first time here. Can I be assigned this issue please?

[2021-04-07 05:11] atenajoon commented on #22
Hello, hello!
I am am Outreachy applicant, interested in this issue if still exists!
Looking forward to your response and assigning it to me :)

[2021-04-07 05:14] Zemotacqy commented on #22
Sure Go Ahead.

On Wed, Apr 7, 2021 at 10:41 AM Afagh ***@***.***> wrote:

[2021-04-07 06:02] atenajoon commented on #22
I appreciate your response, but what do you mean by Go Ahead?
Are you supposed to assign the issues to the applicants, or it's supposed to be just a motivation?! :D

[2021-04-07 06:25] Zemotacqy commented on #22
Ah, it was just meant in the sense that I am not working it currently. You
should sync with the maintainers and work on it IMO

On Wed, Apr 7, 2021 at 11:32 AM Afagh ***@***.***> wrote:

[2021-04-07 15:15] atenajoon commented on #22
I see!
Thank you for the confirmation :)
but why did you stop working on it? was it too complicated? :D
It's my first time working on an opensource project